<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    <script src="D://JavaScriptData//BS_Flask2//static//jquery//jquery.min.js"></script>
    <script type="text/javascript" src="D://JavaScriptData//BS_Flask2//static//dist//echarts.min.js"></script>
</head>
<body>
    <div id="bar" style="width:1000px; height:600px;">
    </div>
    <script>
        $(
            function () {
                var chart = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/",
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                });
            }
        )
    </script>
</body>
</html>