
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/chalk.js"></script>
    
</head>
<body>
    <div id="60fd6255f48549669121c7b1e5d4e3ee" style="width:1500px; height:700px;"></div>
    <script>
        var chart_60fd6255f48549669121c7b1e5d4e3ee = echarts.init(
            document.getElementById('60fd6255f48549669121c7b1e5d4e3ee'), 'chalk', {renderer: 'canvas'});
        
        var option_60fd6255f48549669121c7b1e5d4e3ee = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u4eba\u6570",
            "data": [
                91,
                70,
                71,
                60,
                68,
                66,
                92,
                69,
                17,
                68,
                2,
                67
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u8bc4\u5206",
            "data": [
                68,
                99,
                42,
                54,
                5,
                0,
                69,
                16,
                10,
                61,
                40,
                27
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u6708\u8bc4\u5206",
            "data": [
                46,
                10,
                20,
                51,
                30,
                57,
                72,
                92,
                78,
                84,
                33,
                3
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u5e74\u8bc4\u5206",
            "data": [
                44,
                1,
                38,
                27,
                97,
                7,
                69,
                88,
                87,
                21,
                23,
                1
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4eba\u6570",
                "\u8bc4\u5206",
                "\u6708\u8bc4\u5206",
                "\u5e74\u8bc4\u5206"
            ],
            "selected": {
                "\u4eba\u6570": true,
                "\u8bc4\u5206": true,
                "\u6708\u8bc4\u5206": true,
                "\u5e74\u8bc4\u5206": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e00\u5ba4",
                "\u4e8c\u5ba4",
                "\u4e09\u5ba4",
                "\u56db\u5ba4",
                "\u4e94\u5ba4",
                "\u516d\u5ba4",
                "\u4e03\u5ba4",
                "\u516b\u5ba4",
                "\u5341\u5ba4",
                "\u5341\u4e00\u5ba4",
                "\u5341\u4e09\u5ba4",
                "\u5341\u4e94\u5ba4"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Bar\u56fe",
            "subtext": "\u7814\u7a76\u5ba4\u6708\u5ea6\u8bc4\u5206"
        }
    ]
};
        chart_60fd6255f48549669121c7b1e5d4e3ee.setOption(option_60fd6255f48549669121c7b1e5d4e3ee);
        
    </script>
</body>
</html>