
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/chalk.js"></script>
    
</head>
<body>
    <div id="104f721186d846a9839c6b74414d064b" style="width:1280px; height:640px;"></div>
    <script>
        var chart_104f721186d846a9839c6b74414d064b = echarts.init(
            document.getElementById('104f721186d846a9839c6b74414d064b'), 'chalk', {renderer: 'canvas'});
        
        var option_104f721186d846a9839c6b74414d064b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u4eba\u6570",
            "data": [
                69,
                20,
                48,
                73,
                67,
                61,
                87,
                37,
                77,
                22,
                81,
                90
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u8bc4\u5206",
            "data": [
                12,
                87,
                30,
                9,
                27,
                99,
                0,
                76,
                4,
                13,
                38,
                55
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u6708\u8bc4\u5206",
            "data": [
                77,
                38,
                7,
                91,
                78,
                62,
                99,
                60,
                58,
                30,
                68,
                41
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u5e74\u8bc4\u5206",
            "data": [
                33,
                75,
                12,
                81,
                87,
                7,
                47,
                23,
                13,
                33,
                78,
                35
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4eba\u6570",
                "\u8bc4\u5206",
                "\u6708\u8bc4\u5206",
                "\u5e74\u8bc4\u5206"
            ],
            "selected": {
                "\u4eba\u6570": true,
                "\u8bc4\u5206": true,
                "\u6708\u8bc4\u5206": true,
                "\u5e74\u8bc4\u5206": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e00\u5ba4",
                "\u4e8c\u5ba4",
                "\u4e09\u5ba4",
                "\u56db\u5ba4",
                "\u4e94\u5ba4",
                "\u516d\u5ba4",
                "\u4e03\u5ba4",
                "\u516b\u5ba4",
                "\u5341\u5ba4",
                "\u5341\u4e00\u5ba4",
                "\u5341\u4e09\u5ba4",
                "\u5341\u4e94\u5ba4"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Bar\u56fe",
            "subtext": "\u7814\u7a76\u5ba4\u6708\u5ea6\u8bc4\u5206"
        }
    ]
};
        chart_104f721186d846a9839c6b74414d064b.setOption(option_104f721186d846a9839c6b74414d064b);
        
    </script>
</body>
</html>