
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/chalk.js"></script>
    
</head>
<body>
    <div id="416eb5164a444c66b38219136e9e208a" style="width:1500px; height:700px;"></div>
    <script>
        var chart_416eb5164a444c66b38219136e9e208a = echarts.init(
            document.getElementById('416eb5164a444c66b38219136e9e208a'), 'chalk', {renderer: 'canvas'});
        
        var option_416eb5164a444c66b38219136e9e208a = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u4eba\u6570",
            "data": [
                75,
                81,
                78,
                22,
                33,
                84,
                53,
                98,
                84,
                79,
                94,
                49
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u8bc4\u5206",
            "data": [
                46,
                29,
                68,
                30,
                62,
                77,
                57,
                82,
                84,
                5,
                30,
                22
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u6708\u8bc4\u5206",
            "data": [
                36,
                46,
                50,
                34,
                31,
                10,
                73,
                84,
                33,
                86,
                33,
                18
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u5e74\u8bc4\u5206",
            "data": [
                83,
                25,
                42,
                29,
                75,
                71,
                54,
                30,
                78,
                24,
                66,
                88
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4eba\u6570",
                "\u8bc4\u5206",
                "\u6708\u8bc4\u5206",
                "\u5e74\u8bc4\u5206"
            ],
            "selected": {
                "\u4eba\u6570": true,
                "\u8bc4\u5206": true,
                "\u6708\u8bc4\u5206": true,
                "\u5e74\u8bc4\u5206": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e00\u5ba4",
                "\u4e8c\u5ba4",
                "\u4e09\u5ba4",
                "\u56db\u5ba4",
                "\u4e94\u5ba4",
                "\u516d\u5ba4",
                "\u4e03\u5ba4",
                "\u516b\u5ba4",
                "\u5341\u5ba4",
                "\u5341\u4e00\u5ba4",
                "\u5341\u4e09\u5ba4",
                "\u5341\u4e94\u5ba4"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Bar\u56fe",
            "subtext": "\u7814\u7a76\u5ba4\u6708\u5ea6\u8bc4\u5206"
        }
    ]
};
        chart_416eb5164a444c66b38219136e9e208a.setOption(option_416eb5164a444c66b38219136e9e208a);
        
    </script>
</body>
</html>